// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-product-page {
  .chosen-drop {
    .active-result {
      font-weight: bold;
    }
    .active-result.group-option {
      font-weight: 100;
    }
    .result-selected {
      font-weight: bold;
    }
    .result-selected.group-option {
      font-weight: 100;
    }
  }
  .p_profit_inline {
    font-size: 15px;
    font-weight: 500;
    margin-top: 35px;
  }
}
#products {
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    background: #ededed;
    color: #222;
  }

  .tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
  }

  .tab-content.current{
    display: inherit;
  }
}

ul#dvPreview
  li { 
    display: inline-block; 

    img {
      display: inline-block;
      width: 200px;
      height: 150px;
      margin: auto;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
    }

    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
  }

.product-card {
  img {
    height: 240px;
  }
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}


.product-desc {
  text-align: center;
  padding: 10px 20px;
}

#mk-report-product {
  label {
    font-size: 13px;
  }
  #tracking-product-chart {
    height: 500px;
  }
}

.products.products-index {
  .chosen-container-single .chosen-single {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
  }
  .chosen-container-single .chosen-single span {
    padding-top: 2px;
  }
  .chosen-container-single .chosen-single div b {
    margin-top: 2px;
  }
}