- content_for :script
  = javascript_include_tag "products"

.page-header
  h1 Editing Product

= render 'form', product: @product

= render partial: "products/options"
= render partial: "products/variants"

= link_to 'Show', @product 
br
= link_to 'Back', products_path
