= render partial: 'users/registrations/partials/confirm', locals: {form_target: user_registration_update_path(ref: params["ref"]), term: 'users.signIn', previous: edit_user_registration_url, form_method: "patch"} 