= render partial: 'users/registrations/partials/form', locals: {type: t('users.signIn.signup'), headerColor: 'primary', form_target: user_registration_path(ref: params["ref"]), previous: new_user_session_url} 